.form-container {
  width: 30vw;
  margin: 0 auto;
  border: 0.07vw solid gray;
  border-radius: 0.6vw;
  background-color: #fff;
}

.form-control {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control input {
  width: 90%;
  height: 3vw;
  padding-left: 1.2vw;
  border: 0.07vw solid #1877f2;
  border-radius: 0.6vw;
  font-size: 1.2vw;
}

.form-control input:focus {
  background-color: #e8f0fe;
  font-weight: bold;
}

.form-control button {
  width: 60%;
  height: 3vw;
  border: none;
  border-radius: 1.2vw;
  outline: none;
  background-color: #1877f2;
  color: #fff;
  font-weight: bold;
  font-size: 1.2vw;
  cursor: pointer;
}

.form-control a {
  width: 80%;
  height: 2.6vw;
  display: grid;
  place-content: center;
  border-radius: 0.6vw;
  background-color: #42b72a;
  color: #fff;
  font-size: 1.5vw;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .form-container {
    width: 90vw;
    border: 1px solid gray;
    border-radius: 2.5vw;
  }

  .form-control input {
    height: 6vh;
    padding-left: 5vw;
    border: 1px solid #1877f2;
    border-radius: 2.5vw;
    font-size: 5vw;
  }

  .form-control button {
    height: 6vh;
    border-radius: 2.5vw;
    font-size: 5vw;
  }

  .form-control a {
    height: 4.5vh;
    border-radius: 2.5vw;
    font-size: 5vw;
  }
}

@media screen and (min-width: 425px) and (max-height: 768px) {
  .form-container {
    width: 90vw;
  }

  .form-control {
    height: 20vh;
  }

  .form-control input {
    height: 12vh;
  }

  .form-control button {
    height: 12vh;
  }

  .form-control a {
    height: 12vh;
  }
}

@media screen and (min-width: 5120px) and (min-height: 1440px) {
  .form-control {
    height: 15vh;
  }
}
