.form-container {
  width: 30vw;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background-color: #fff;
}

.form-control {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control input {
  width: 90%;
  height: 40px;
  padding-left: 1rem;
  border: 1px solid #1877f2;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-control input:focus {
  background-color: #e8f0fe;
  font-weight: bold;
}

.form-control button {
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 1rem;
  background-color: #1877f2;
  color: #fff;
  font-weight: bold;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.form-control a {
  width: 45%;
  height: 35px;
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
  background-color: #42b72a;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .form-container {
    width: 90vw;
  }
}

@media screen and (max-width: 1024px) and (max-height: 425px) {
  .form-container {
    width: 90vw;
  }

  .form-control {
    height: 15vh;
  }
}
