.repos-container {
  width: 90vw;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  justify-items: center;
  gap: 2.4vw;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .repos-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .repos-container h1 {
    font-size: 6vw;
  }
}
