.fav-repos {
  padding: 1.2vw;
  color: #1877f2;
}

.fav-label {
  text-align: center;
  font-size: 2.4vw;
  margin-bottom: 1.2vw;
}

.no-fav-container {
  width: 90vw;
  min-height: 90vh;
  margin: 0 auto;
}

.no-fav-label {
  text-align: center;
  font-size: 2vw;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .fav-repos {
    padding: 5vw;
  }

  .fav-label {
    font-size: 8vw;
    margin-bottom: 5vw;
  }

  .no-fav-label {
    font-size: 6vw;
  }
}
